#nav-wrapper {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 5; /* Position the navbar at the top of the page */
    width: 100%;
    margin-right: 4rem; /* Full width */
}


div.ilb {
  display: inline-block;
}

div.gl {
  background-image: linear-gradient(to bottom, blue 0%, blue 51%, transparent 51%);
background-size: 100% 1px;
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  content: '\a0';
  display: inline-block;
  margin: .55em .2em .55em .3em;
  width: .6em;
  height: .6em;
  line-height: .4em;
  transition: all .2s;
  border: 1.1px solid silver;
  border-radius: 50%;
}

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  content: '\a0';
  background: silver;
}
