<h1><%= @article.title %> by
  <% @article.users.each do |user| %>
  <%= link_to user.name, user_path(user) %>
  <% end %>
</h1>

<p><%= @article.body %>

<br>
<br>
<%= link_to "Return to #{@article.issue.name}", zine_issue_path(@zine.id, @issue.id) %>
