<h1><%= @zine.name %></h1>
<h3>By <%= link_to @zine.publisher_name, @zine.publisher %></h3>
<% @zine.issues.each do |issue| %>
  <ul>
    <li><%= link_to issue.name, zine_issue_path(@zine.id, issue.id) %></li>
  </ul>
<% end %>
<br>
<br>
<%= link_to "Make New Issue for #{@zine.name}", new_zine_issue_path(@zine.id) %>
